@use "src/styles/typography";
@use "src/styles/grid";
@use "src/styles/palette";
@use "src/styles/layout";

.grid {
  @extend .grid;

  align-items: center;

  @media (max-width: layout.breakpoint(md)) {
    flex-direction: column-reverse;
  }
}

.title {
  @extend .h1;

  color: palette.brand(primary);
}