%base {
  border: none;
  background: none;
  padding: 0;
  line-height: 1;
  font-size: 1rem;
}

.button_icon {
  @extend %base;

  padding: .5rem;

  svg {
    width: 1.5rem;
    vertical-align: middle;
  }
}