$breakpoints: (xs: 0, sm: 600, md: 900, lg: 1200, xl: 1536);

@function breakpoint($key) {
  @return #{map-get($breakpoints, $key)}px;
}

@each $key, $value in $breakpoints {
  .container_#{$key} {
    width: 100%;
    max-width: #{$value}px;
    margin: 0 auto;
  }
}
