@use "src/styles/typography";
@use "src/styles/palette";
@use "src/styles/layout";
@use "src/styles/buttons";

.header {
  display: flex;
  column-gap: 1rem;
  padding: .5rem 1rem;
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid palette.brand(black, light);
}

.navigation {
  margin-left: auto;
  display: flex;
  column-gap: 1rem;

  @media (max-width: layout.breakpoint(md)) {
    display: none;
  }
}

.nav_link {
  @extend .button_text;
  @extend .button_base;

  color: initial;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  padding: .6rem 0;
  display: inline-block;
  margin: 0;

  hr {
    width: 0;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  }

  &:hover {
    color: palette.brand(primary);
  }

  &_active {
    @extend .nav_link;

    color: palette.brand(primary);

    hr {
      width: 100%;
    }
  }
}

.nav_link_line {
  margin: 0;
  height: 1px;
  border: none;
  border-top: 1px solid palette.brand(primary);
}

.menu_button {
  @extend .button_icon;

  margin-left: auto;

  @media (min-width: layout.breakpoint(md)) {
    display: none;
  }
}

.menu {
  background: white;
  width: 80%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  box-shadow: -1rem 1px 1rem 0 rgba(0,0,0,0.1);
  transition: right 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 1rem;
;

  &_open {
    @extend .menu;

    right: 0;
  }

  @media (min-width: layout.breakpoint(md)) {
    display: none;
  }
}

.close_button {
  @extend .button_icon;

  position: absolute;
  top: 1rem;
  right: 1rem;
}

.select_locale {
  display: flex;
  align-items: center;

  &_desktop {
    @extend .select_locale;

    @media (max-width: layout.breakpoint(md)) {
      display: none;
    }
  }
}
